body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background: radial-gradient(circle at top, #effbe8, #b8d8c0);
    font-family: Arial, sans-serif;
}

canvas {
    border-radius: 18px;
    box-shadow: 0 16px 45px rgba(42, 70, 53, .28);
    image-rendering: auto;
    touch-action: none;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
